---
import PropertyCard from '@components/PropertyCard.astro';
import Layout from '@layouts/Layout.astro';
import json from '@data/data.json';
import SearchForm from '@components/SearchForm.astro';

const { data } = json;
const properties = Object.keys(data);
const title = "CSS Triggers";
---

<Layout title={title}>
	<h1 class="screen-reader-text">{title}</h1>
	<SearchForm />
	<div class="properties">
		<div class="properties__content">
			{properties.map((property) => {
				const { initial, change } = data[property];
				return (<PropertyCard initial={initial} change={change} property={property} />);
			})}
		</div>
	</div>
</Layout>
<style is:global>
	.properties__content {
		display: grid;
		gap: 1em;
		grid-template-columns: 1fr;
		justify-content: center;
		margin-inline: auto;
	}
</style>
